{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block h1 %}
    <h1>Connexion</h1>
{% endblock %}

{% block content %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">Pseudo ou mot de passe inconnu</div>
        {#
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

        <div class="row">

            <div class='form-input'>
                <label for="inputPseudo" class="col-5 col-form-label">Pseudo</label>
                <div class="col-sm-6">
                    <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" autocomplete="username" required autofocus>
                </div>
            </div>

            <div class='form-input'>
                <label for="inputPassword" class="col-sm-5 col-form-label">Mot de passe</label>
                <div class="col-sm-6">
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>
            </div>

        </div>

        <div class="row">

            <div class='form-input'>
                <label class="col-sm-5 col-form-label">
                    <div class="col-sm-6">
                        <input type="checkbox" class="checkbox" name="_remember_me" />
                        Se souvenir de moi
                    </div>
                </label>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            </div>

            <div class='form-input'>
                <button class="btn-lg-perso" type="submit">
                    Se connecter
                </button>
            </div>

        </div>



    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

</form>
{% endblock %}
