{% extends 'base.html.twig' %}

{% form_theme profilForm 'bootstrap_5_horizontal_layout.html.twig' %}

{% block title %}Profil{% endblock %}


{% block content %}
    <div class="main-others">

        <div class="sub-header">
            <div class="sub-header-left">
                <h1>Mon Profil</h1>
                <h2>{{ user.firstName }}</h2>
            </div>
            <div class="profilImgDiv">
                <img src="{{ asset('images/profilePictures/' ~  user.profilePicture ) }}">
            </div>
        </div>

        {{ form_start(profilForm) }}
        {{ form_widget(profilForm) }}
        <div class="btn-flex">
            <a href="javascript:history.go(-1)"><button class="btn-lg-perso" >Retour</button></a>
            <button type="submit" class="btn-lg-perso">Modifier Profil</button>
        </div>
        {{ form_end(profilForm) }}
    </div>

{% endblock %}
