{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block h1 %}
    <h1></h1>
{% endblock %}

{% block content %}

    <div class="main-others">

        <h2>{{ user.pseudo }}</h2>
        <p>Nom : {{ user.firstName }} {{ user.lastName|upper }}</p>
        <p>Telephone :{{ user.phoneNumber }}</p>
        <p>Email : {{ user.email }}</p>
        <p>Campus :{{ user.campus.name }}</p>

       <button onclick="history.go(-1)" class="btn-lg-perso" >Retour</button>

    </div>

{% endblock %}