{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block h1 %}
    <h1></h1>
{% endblock %}

{% block content %}

    <h2>{{ user.pseudo }}</h2>
    <p>{{ user.firstName }}</p>
    <p>{{ user.lastName }}</p>
    <p>{{ user.phoneNumber }}</p>
    <p>{{ user.email }}</p>
    <p>{{ user.campus.name }}</p>

    <button type="submit" class="noselect buttonAnim">Retour</button>

{% endblock %}