{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block content %}

    <div class="main-others">

        <div class="block-color">
            <div class="block-title"><h2>{{ event.name }}</h2></div>
            <div class="block-text"><p>Date de la sortie : {{ event.startDate|format_datetime(locale='fr') }}</p></div>
            <div class="block-text"><p>Date limite d'inscription : {{ event.subscriptionLimit|format_datetime(locale='fr') }}</p></div>
            <div class="block-text"><p>Durée :{{ event.duration|date('H:i') }}</p></div>
            <div class="block-text"><p>Infos : {{ event.infos }}</p></div>
            <div class="block-text"> <p>Organisateur : {{ event.organizater.pseudo }} - Campus : {{ event.campus.name }}</p></div>
            <div class="block-text"><p>Statut : {{ event.state.libelle }}</p></div>
            <div class="block-text"><p>Lieu : {{ event.location.name }}</p></div>
            <div class="block-text"><p>{{ event.location.street}} {{ event.location.city.codePostal}} {{ event.location.city.name}}</p></div>
            <div class="block-text"><p>Latitude : {{ event.location.latitude }}   Longitude: {{ event.location.longitude }}</p></div>

            <div class="block-title"><h3>Liste des participants : </h3></div>
            <div class="listGoers">
                <table >
                    <thead>
                    <tr>
                        <td>Pseudo</td>
                        <td>Nom</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in event.goers %}
                        <tr>
                            <td>{{ user.pseudo }}</td>
                            <td>{{ user.firstName}} {{ user.lastName|upper }}</td>
                            <td><a href="{{ path('profil', {'pseudo': user.pseudo}) }}"><button class="btn-sm-perso">voir profil</button></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>


            <div class="block-title"><p>{{ event.goers|length }}/{{ event.maxUsers }} places disponibles</p></div>
        </div>

        {% if event.state.libelle == "opened" and event.organizater != app.user and app.user not in event.goers %}
            <a href="{{ path('register_event', {'id':event.id }) }}" class="btn-lg-perso" onclick="SignupEvent()">S'inscrire</a>
        {% endif %}

        {% if (event.state.libelle == "opened" or (event.state.libelle == "closed" and event.subscriptionLimit >  "now" )) and app.user in event.goers %}
            <a href="{{ path('unRegister_event', {'id':event.id }) }}" class="btn-lg-perso" onclick="SignoutEvent()">Se désinscrire</a>
        {% endif %}

        {% if  event.state.libelle == 'created' and  (event.organizater == app.user or is_granted('ROLE_ADMIN')) %}
            <a href="{{ path('event_publish', {'id':event.id }) }}" class="btn-lg-perso" onclick="PublishEvent()">Publier sortie</a>
        {% endif %}

        {% if  (event.state.libelle == 'created') and  (event.organizater == app.user or is_granted('ROLE_ADMIN')) %}
            <a href="{{ path('event_modify', {'id':event.id }) }}" class="btn-lg-perso">Modifier sortie</a>
            <a href="{{ path('event_cancel', {'id':event.id }) }}" class="btn-lg-perso" onclick="CancelEvent()">Annuler sortie</a>
        {% endif %}
        {% if  (event.state.libelle == 'opened') and  (event.organizater == app.user or is_granted('ROLE_ADMIN')) %}
            <a href="{{ path('event_cancel', {'id':event.id }) }}" class="btn-lg-perso" onclick="CancelEvent()">Annuler sortie</a>
        {% endif %}

        <a href="{{ path('homepage') }}"><button class="btn-lg-perso" >Retour</button></a>



    </div>

{% endblock %}

{% block javascripts %}
    <script>
        function CancelEvent(){
            Swal.fire({
                icon: 'warning',
                title: 'Sortie annulé',
                showConfirmButton: false,
                timer: 1750
            })
        }
        function PublishEvent(){
            Swal.fire({
                icon: 'success',
                title: 'Sortie publiée',
                showConfirmButton: false,
                timer: 1750
            })
        }
        function SignupEvent(){
            Swal.fire({
                icon: 'success',
                title: 'Inscription validée',
                showConfirmButton: false,
                timer: 1750
            })
        }
        function SignoutEvent(){
            Swal.fire({
                icon: 'error',
                title: 'désinscription validée',
                showConfirmButton: false,
                timer: 1750
            })
        }
    </script>

{% endblock %}
