{% extends 'base.html.twig' %}
{% form_theme searchForm 'bootstrap_5_horizontal_layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block filters %}
    <div class="fixed-at-side fixed-at-side--l">
{#        <div class="filters-table">#}
{#            {{ form_start(searchForm) }}#}
{#            {{ form_widget(searchForm)}}#}
{#            {{ form_end(searchForm) }}#}
{#        </div>#}



        <table class="filters-table">
            <thead>
            <tr>
                <th class="sticky-table-column__sticky" colspan="2"><h3>Filtrer les sorties</h3></th>
            </tr>
            </thead>
            {{ form_start(searchForm) }}
            <tbody>

            <div>
                <tr>
                    <td class="sticky-table-column__sticky">Recherche dans le titre :</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">{{ form_widget(searchForm.search) }}</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">Campus :</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">{{ form_widget(searchForm.campus) }}</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">Entre le :</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">{{ form_widget(searchForm.startDate) }}</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">Et le :</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">{{ form_widget(searchForm.endDate) }}</td>
                </tr>
            </div>
            <div>
                <tr>
                    <td class="sticky-table-column__sticky">{{ form_widget(searchForm.isOrganizer) }}</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">{{ form_widget(searchForm.isBooked) }}</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">{{ form_widget(searchForm.isNotBooked) }}</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">{{ form_widget(searchForm.passedEvents) }}</td>
                </tr>
            </div>

            <tr>
                <td class="sticky-table-column__sticky" id="recherche-button"><button type="submit" class="btn-lg-perso">Rechercher</button></td>
            </tr>

            </tbody>
            {{ form_end(searchForm) }}
        </table>
    </div>
{% endblock %}

{% block content %}
    <div class="main-home">
        <h1>Liste des sorties</h1>

        <p>{{ allEvents.count }} sorties trouvées</p>

{#            {% if allEvents is defined %}#}
                {% for event in allEvents %}

                        <article class="cardEvent">
                            <a class="card-infos" href="{{ path('event', {'id': event.id}) }}">
{#                                <div class="card-infos">#}
                                    <div class="card-status">
                                        <h4>Statut</h4>
                                        <p>{{ event.state.libelle }}</p>
                                    </div>

                                    <div class="card-img-div">
                                        <img class="card-img"
                                             {% if event.location.locationPicture %}
                                                src="{{ asset('images/locationPicture/' ~ event.location.locationPicture) }}" alt="Image : {{ event.location.locationPicture }}">
                                        {% else %}
                                            src="{{ asset('images/locationPicture/default.jpg') }}"  alt="Image : {{ event.location.locationPicture }}">
                                        {% endif %}
                                    </div>

                                    <div class="card-txt1">
                                        <h3>{{ event.name }}</h3>
                                        <h4>{{  event.startDate|format_date(locale='fr') }} </h4>
                                        <p>{{  event.startDate|date('H:i') }}</p>
                                    </div>

                                    <div class="card-txt1">
                                        <p>Organisé par {{ event.organizater.pseudo }}</p>
                                        <h4>Inscription jusqu'au : </h4>
                                        <p>{{ event.subscriptionLimit|format_date(locale='fr') }}</p>

                                    </div>
{#                                </div>#}
                            </a>

                            <div class="card-button">

                                {% if event.state.libelle == "opened" and event.organizater != app.user and app.user not in event.goers%}
                                    <input type="button" href="{{ path('unRegister_event', {'id':event.id }) }}" value="S'inscrire">
                                {% endif %}

                                {% if app.user in event.goers%}
                                    <input type="button" href="{{ path('unRegister_event', {'id':event.id }) }}" value="Se désinscrire">
                                {% endif %}

                                {% if   event.state.libelle == 'created' and  (event.organizater == app.user or is_granted('ROLE_ADMIN')) %}
                                    <input type="button" href="{{ path('event_modify', {'id':event.id }) }}" class="btn-xsm-perso" value="Modifier">
                                {% endif %}
                            </div>

                        </article>
                {% endfor %}

{#            {% endif %}#}
    </div>

    <input id="popup" type="hidden"


{% endblock %}
