{% extends 'base.html.twig' %}
{% form_theme searchForm 'bootstrap_5_horizontal_layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block filters %}
    <div class="fixed-at-side fixed-at-side--l">
{#        <div class="filters-table">#}
{#            {{ form_start(searchForm) }}#}
{#            {{ form_widget(searchForm)}}#}
{#            {{ form_end(searchForm) }}#}
{#        </div>#}



        <table class="filters-table">
            <thead>
            <tr>
                <th class="sticky-table-column__sticky" colspan="2"><h3>Filtrer les sorties</h3></th>
            </tr>
            </thead>
            {{ form_start(searchForm) }}
            <tbody>

            <div>
                <tr>
                    <td class="sticky-table-column__sticky">Recherche dans le titre :</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">{{ form_widget(searchForm.search) }}</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">Campus :</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">{{ form_widget(searchForm.campus) }}</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">Entre le :</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">{{ form_widget(searchForm.startDate) }}</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">Et le :</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">{{ form_widget(searchForm.endDate) }}</td>
                </tr>
            </div>
            <div>
                <tr>
                    <td class="sticky-table-column__sticky">{{ form_widget(searchForm.isOrganizer) }}</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">{{ form_widget(searchForm.isBooked) }}</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">{{ form_widget(searchForm.isNotBooked) }}</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">{{ form_widget(searchForm.passedEvents) }}</td>
                </tr>
            </div>

            <tr>
                <td class="sticky-table-column__sticky" id="recherche-button"><button type="submit" class="btn-lg-perso">Rechercher</button></td>
            </tr>

            </tbody>
            {{ form_end(searchForm) }}
        </table>
    </div>
{% endblock %}

{% block content %}
    <div class="main-home">
        <h1>Liste des sorties</h1>

            {% if allEvents is defined %}
                {% for event in allEvents %}
                    <a href="{{ path('event', {'id': event.id}) }}">
                        <article class="cardEvent">
                            <div class="card-img-div"><img class="card-img"
                                        {% if event.location.locationPicture %}
                                            src="{{ asset('images/locationPicture/' ~ event.location.locationPicture) }}" alt="Image : {{ event.location.locationPicture }}">

                                        {% else %}
                                            src="{{ asset('images/locationPicture/default.jpg') }}"  alt="Image : {{ event.location.locationPicture }}">
                                        {% endif %}
                            </div>
                            <div class="card-name">
                                <p><strong>{{ event.name }}</strong></p>
    {#                            <p><strong>Organisateur :</strong>    {{ event.organizater.pseudo }}</p>#}
                            </div>
                            <div class="card-status">
                                <p><strong>Statut</strong><br> {{ event.state.libelle }}</p>
                            </div>
{#                            <div class="card-button">#}
{#                                <a href="{{ path('event', {'id': event.id}) }}"><button type="button" class="btn-sm-perso">Voir sortie</button>#}
{#                            </div>#}

                        </article>
                    </a>
                {% endfor %}
            {% endif %}
    </div>

{% endblock %}
