{% extends 'base.html.twig' %}
{% form_theme searchForm 'bootstrap_5_horizontal_layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}

    <h1>Liste des sorties</h1>

    <div class="fixed-at-side fixed-at-side--l">

        <table class="filters-table">
            <thead>
            <tr>
                <th class="sticky-table-column__sticky" colspan="2"><h3>Filtrer les sorties</h3></th>
            </tr>
            </thead>
            {{ form_start(searchForm) }}
            <tbody>

            <div>
                <tr>
                    <td class="sticky-table-column__sticky">{{ form_widget(searchForm.search) }}</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">{{ form_widget(searchForm.campus) }}</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">{{ form_widget(searchForm.startDate) }}</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">{{ form_widget(searchForm.endDate) }}</td>
                </tr>
            </div>
            <div>
                <tr>
                    <td class="sticky-table-column__sticky">{{ form_widget(searchForm.isOrganizer) }}</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">{{ form_widget(searchForm.isBooked) }}</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">{{ form_widget(searchForm.isNotBooked) }}</td>
                </tr>
                <tr>
                    <td class="sticky-table-column__sticky">{{ form_widget(searchForm.passedEvents) }}</td>
                </tr>
            </div>

            <tr>
                <td class="sticky-table-column__sticky" id="recherche-button"><button type="submit" class="btn-lg-perso">Rechercher</button></td>
            </tr>

            </tbody>
            {{ form_end(searchForm) }}
        </table>
    </div>

        {% if events is defined %}
            {% for event in events %}

                <div class="cardEvent">
                    <div class="card-name">
                        <p><strong>Nom sortie:</strong><br> {{ event.name }}</p>
                        <p><strong>Organisateur :</strong>    {{ event.organizater.pseudo }}</p>
                    </div>
                    <div class="card-status">
                        <p><strong>Statut :</strong><br> {{ event.state.libelle }}</p>
                    </div>
                    <div class="card-button">
                        <a href="{{ path('event', {'id': event.id}) }}"><button type="button" class="btn-sm-perso">Voir sortie</button></a>
                    </div>

                </div>

            {% endfor %}
        {% endif %}

{% endblock %}
