{% extends 'base.html.twig' %}
{% form_theme searchForm 'bootstrap_5_horizontal_layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <h1>Liste des sorties</h1>

    {{ form_start(searchForm) }}
    {{ form_widget(searchForm) }}
    <button type="submit" class="btn btn-lg btn-primary">Rechercher</button>
    {{ form_end(searchForm) }}


    {% if events is defined %}
        {% for event in events %}

            <div class="cardEvent d-flex">
                <div class="me-auto">
                    <p>Nom sortie: {{ event.name }}</p>
                </div>
                <div class="me-2">
                    <p>Organisateur : {{ event.organizater.pseudo }}</p>
                </div>
                <div class="me-5">
                    <p>Statut : {{ event.state.libelle }}</p>
                </div>
                <div class="me-5">
                    <a href="{{ path('event', {'id': event.id}) }}"><button type="button" class="btn btn-sm btn-secondary">Voir sortie</button></a>
                </div>

            </div>

        {% endfor %}
    {% endif %}

{% endblock %}
